* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 100vh;
    width: 100vw;
}